{% extends "base.html.twig" %}

{% block title %}Gestion des articles
{% endblock %}

{% block body %}

	<div class="container">
		<h1 class="text-center my-4">Gestion des articles</h1>
		<table class="table table-dark">
			<thead>
                <tr>
                {% for data in colonnes %}
                    <th>{{ data }}</th>
                {% endfor %}
                    <th>Category</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.title }}</td>
                    <td><img src="{{ article.image }}" alt="" width="50"></td>
                    <td>{{ article.content|slice(1,10) }}...</td>
                    <td>{{ article.createdAt|date("d/m/Y à H:i:s") }}</td>
                    <td>{{ article.category.title }}</td>
                    <td>
                        <a href="" class="text-warning"><i class="fas fa-edit"></i></a>
                        <a href="" class="text-danger"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
                
            </tbody>
		</table>
	</div>

{% endblock %}
